 @media only screen and (max-width: 756px) {
    .chat__sidebar { -webkit-box-flex: 0; flex: 0 0 200px; }
    .room__name { font-size: 22px; }
    .user { padding: 10px; }

    .user__name {
        margin: 0 10px;
        font-size: 12px;
    }

    .user__online--icon {
        width: 12px;
        height: 12px;
    }

    .user__online--time { font-size: 10px; }
}

@media only screen and (max-width: 600px) {
    html, body { height: var(--app-height); }


    .chat__container { 
         max-height: 100%;
        -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; 
    }
    
    /** sidebar*/
    .chat__sidebar { 
        position: fixed;
        width: 100%;
        height: 70px;
        -webkit-box-flex: 0; 
        flex: 0 0 70px;
        z-index: 88;
    }
    .sidebar__container { height: 100%; }
    
    .room__name {
        font-size: 20px;
        padding: 5px 10px 5px 30px;
    }
    
    .active__users {
        display: none;
        position: absolute;
        top: 80px;
        width: 200px;
        height: auto;
        background-color: #000000;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    .active__users ul {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
    }
    /** user list <li>*/
    .mobile__user--active { display: -webkit-box; display: flex; }

    .mobile__icon {
        display: inline-block;
        position: absolute;
        top: 13px;
        left: 15px;
        z-index: 99;
    }

    .mobile__icon img { width: 35px; }

    @media not all and (pointer: coarse) {
        .mobile__icon img:hover { opacity: 0.5; }
    }
    .mobile__icon img:active { opacity: 0.5; }

    .mobile__icon p {
        font-size: 10px;
        font-weight: 600;
    }
    .mobile__icon span {
        display: inline-block;
        width: 8px;
        height: 8px;
        margin-left: 3px;
        background: #e62e75;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }

    /* chat window*/
    .chat__main { 
        position: relative;
        top: 80px;
        width: 100%;
        -webkit-box-flex: 0;
                flex: 0 0 calc(var(--app-height) - 80px);
    }

    .msg__container { 
        padding: 10px 10px;
        -webkit-box-flex: 0;
                flex: 0 0 calc(var(--app-height) - 140px);
    }
    .msg__box, .msg__box__user { margin-bottom: 10px; }

    .msg, .msg__user {
        font-size: 18px;
        padding: 0 10px 10px 10px;
    }

    .msg__form {
        position: fixed;
        bottom: 0;
        height: 60px;
        background-color: #1F1F1F;
        width: 100%;
        padding: 9px 10px;
    }
    .msg__form input {
        padding: 12px 10px 12px 20px;
        margin: 0px;
    }

    .send__btn { margin-right: 10px; }
    .location__btn { margin-right: 10px; }
    
    .btn {
        font-size: 20px;
        padding: 0 12px;
        border: none;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}

    /** scrollbar */
    .msg__container::-webkit-scrollbar { width: 4px; }
}